/* fonts */
@font-face {
  font-family: 'Georgia';
  src: url('/fonts/Georgia.ttf') format("opentype");
}

/* ----------------------------------------------  Reset form elements ---------------------------------------------- */

input, select, textarea {
    margin:0; padding:0; font-size:0.85em; outline:none;
    font-family:inherit;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    box-sizing:border-box;}

/* ----------------------------------------------  Inputs, textareas and selects  ---------------------------------------------- */


input[type="text"], textarea, select, div.styled, input[type="file"] {
    border-radius:5px; border: solid 1px #ccc; padding:0.4em;}

div.styled, select, input[type="submit"], input[type="button"],
input[type="file"]:after {
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);}

input[type="text"], textarea, input[type="file"] {
    background-color: #f5f5f5;
    -webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);
    box-shadow: inset 0 2px 3px rgba(0,0,0,0.2);}

    .ie9 input[type="text"] { line-height:normal; } /* Get the stuff to line up right */

textarea { width:100%; height:10em; }

/* ----------------------------------------------  Select menu  ---------------------------------------------- */

/* For IE and Firefox */

div.styled { overflow:hidden; padding:0; margin:10px 0 0 0; }

    .ie7 div.styled {border:none;}

div.styled select {
    width:100%; background-color:transparent; background-image:none;
    -webkit-appearance: none; border:none; box-shadow:none;}

    .ie7 div.styled select {
        width:100%; background-color:#fff; border: solid 1px #ccc;
        padding:0.3em 0.5em;}

/* ----------------------------------------------  File field  ----------------------------------------------  */

/* Webkit Only */

input[type="file"] {
    position: relative;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;	width: 40%;	padding:0;}

input[type=file]::-webkit-file-upload-button {
    width: 0; padding: 0; margin: 0;-webkit-appearance: none; border: none;}

input[type="file"]:after {
    content: 'Upload File';
    margin:0 0 0 0.5em;
    display: inline-block; left: 100%; position: relative;
    padding:0.3em 0.5em; border: solid 1px #ccc !important;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    border-radius:4px;}


    input[type="file"]:active:after {box-shadow:none;}


/* ----------------------------------------------  Checkboxes and Radio inputs  ----------------------------------------------  */

input[type="radio"],
input[type="checkbox"] { position: absolute; left: -999em; }

label:before {
    display: inline-block; position: relative; top:0.25em; left:-2px;
    content:''; width:25px; height:25px;
    background-image:url(../images/formelements.png); }

input[type="checkbox"] + label:before { background-position: 0 -25px;}
input[type="checkbox"]:checked + label:before {background-position: 0 0 ; }

input[type="radio"] + label:before { background-position: -25px -25px;}
input[type="radio"]:checked + label:before { background-position: -25px 0;}

    /* Remove the custom styling for IE 7-8 */

    .ie8 label:before { display:none; content:none; }

    .ie8 input[type="checkbox"],
    .ie8 input[type="radio"],
    .ie7 input[type="checkbox"],
    .ie7 input[type="radio"]{
        position: static; left:0; }

    .ie8 input[type="checkbox"],
    .ie8 input[type="radio"] {
        position:relative; top:5px; margin-right:0.5em;}

input[type="text"]:focus, textarea:focus {
    border-color:#000166;
    }

/* ---------------------------------------------- Form Submit and Next buttons ---------------------------------------------- */

input[type="submit"],
input[type="button"] {
    padding:0.5em 1em; line-height:1em; cursor:pointer;
    border-radius:4px; color:#fff; font-weight:bold; font-size:inherit;
    border:solid 1px #000166;	box-shadow:0 1px 5px rgba(0,0,0,0.2);
    background: #464646;
    background-position: center bottom;}

    /* Gradient Generator by : http://www.colorzilla.com/gradient-editor/ */

input[type="submit"]:active,
input[type="button"]:active {-webkit-box-shadow: none; box-shadow:none;}

    /* IE7 needs you to change the background to transparent when using image background for submit buttons */

/* general elements */
* {
	margin:0;
	padding:0;
}
html {
    background-color: #707070;
}
body {
	font: .8em "Arial", sans-serif;
	background: url('/images/bg.jpg') repeat-x 0 0 #f8f8fa;
	color: #464646;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: underline;
}

img {
	border:0px;
	}


table {
	width:100%;
	margin: 0px;
	padding:0px;
	border-collapse: collapse;
	text-align: left;
}

tr {
	margin: 0px;
	padding: 0px;
	text-align: left;
}

th {
	margin: 0px;
	padding: 10px 20px 10px 20px;
	background: #DBDBDB;
	font-weight:bold;
	border: 1px solid #BAB5B5;
}

td {
	margin: 0px;
	padding: 10px 20px 10px 20px;
	border: 1px solid #BAB5B5;
}

.powertip {
    position: absolute;
    display: none;
}

#county-results-powertip {
    padding: 5px;
    position: absolute;
    display: none;
    z-index: 20000000;
    background: #FFFFFF;
    border: 1px solid #8D8D8D;
    font-size: 13px;
}

#county-results-powertip img {
    height: 45px;
    margin-right: 10px;
    float: left;
}

.rounded{
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

/* type styles*/
.text_a {
	font: 13px "arial", sans-serif;
	padding: 0px;
	}
.text_a a:link,
.text_a a:visited {
	text-decoration: none;
	}
.text_a a:hover,
.text_a a:active {
	text-decoration: none;
	}

.text_b {
	font: 12px "arial", sans-serif;
	}
.text_b a:link,
.text_b a:visited {
	text-decoration: none;
	}
.text_b a:hover,
.text_b a:active {
	text-decoration: none;
	}

.text_c {
	font: 14px "Georgia", serif;
	line-height: 22px;
	}
.text_c a:link,
.text_c a:visited {
	text-decoration: none;
	}
.text_c a:hover,
.text_c a:active {
	text-decoration: none;
	}

.text_d {
	font: 13px "arial", sans-serif;
	}
.text_d a:link,
.text_d a:visited {
	text-decoration: underline;
	color: #161D4A;
	}
.text_d a:hover,
.text_d a:active {
	text-decoration: none;
	color: #161D4A;
	}
.text_d p{
	margin: 0px 0px 20px 0px;
}
.text_d p img{
	float:right;
	width:240px;
	margin: 5px 0px 10px 15px;
	/*box-shadow: 0px 1px 10px #888;  */
	background: #fff; /* old browsers */
}
.text_d li{
	margin:0px 20px 8px 30px;
}

.text_d ul{
	margin:0px 0px 20px 0px;
}
.text_d table{
	width:460px;
	border-collapse: collapse;
}
.text_d table tr td{
	border:1px solid #465078;
	padding: 5px;
	vertical-align: top;
}

.text_e {
	font: 20px "arial", sans-serif;
	line-height: 50px;
	font-weight: bold;
	}
.text_e a:link,
.text_e a:visited {
	text-decoration: none;
	}
.text_e a:hover,
.text_e a:active {
	text-decoration: underline;
	}

/* color styles */

.white,
.white a:link,
.white a:visited{
	color: #fff;
}

.blue,
.blue a:link,
.blue a:visited{
	color: #000166;
}

.gray,
.gray a:link,
.gray a:visited{
	color: #464646;
}

.gradient_gray{
	background: #fff; /* old browsers */
	background: -moz-linear-gradient(top, #ffffff 67%, #E3E3E4 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(67%,#ffffff), color-stop(100%,#E3E3E4)); /* webkit */
}

/* structural */

#wrapperMAIN{
	width:940px;
	margin:0px auto 0;
	/*  min-height: 100%;  */
}

#header{
	float:left;
	width:940px;
	height:100px;
	margin:0px;
	padding:0px;
    position: relative;
}

#logo{
	float:left;
	width:550px;
	height:100px;
	margin: 0px;
	padding:0px;
	background: url('/images/logo.png') no-repeat 0 0;
}

#flash-slideshow {
    position: absolute;
    right: 0px;
}

.flash_box{
	float:left;
	width:380px;
	height:65px;
	margin: 20px 0px 0px 10px;
	padding:0px;
	background: url('/images/flash.png') no-repeat 0 0;
}

.flash_pic{
	float:left;
	width:55px;
	height:55px;
	margin: 5px 0px 0px 70px;
	padding:0px;
	background: url('/images/news_tumb_00.jpg') no-repeat 0 0;
}

.flash_text{
	float:left;
	width:224px;
	height:25px;
	margin: 0px 0px 0px 15px;
	padding:8px;
}
.flash_name{
	float:left;
	width:224px;
	height:15px;
	margin: 0px 0px 0px 15px;
	padding:0px;
	text-align:right;
	font-weight:bold;
}

#contentBG{
	float:left;
	width:940px;
	margin:0px 0px 30px 0px;
	padding:0px;
	box-shadow: 0px 0px 15px #BABABA;
	background: #fff;
}

#nav{
	float:left;
	width: 940px;
	height:45px;
	margin:0px 0px 0px 0px;
	padding:0px;
	border-bottom: 1px solid #BAB5B5;
}

.nav_ITEM{
	float:left;
	height:34px;
	margin:0px 0px 0px 0px;
	padding:12px 36px 0px 36px;
	border-right: 1px solid #D0CDCD;
}
.nav_ITEM a:link,
.nav_ITEM a:visited {
	text-decoration: none;
	}
.nav_ITEM:hover,
.nav_ITEM:active {
	text-decoration: none;
	background: -moz-linear-gradient(top, #EEEEEF 67%, #CFCFD1 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(67%,#EEEEEF), color-stop(100%,#CFCFD1)); /* webkit */
	}
.nav_ITEM2{
	float:left;
	height:34px;
	margin:0px 0px 0px 0px;
	padding:12px 36px 0px 36px;
}
.nav_ITEM2 a:link,
.nav_ITEM2 a:visited {
	text-decoration: none;
	}
.nav_ITEM2:hover,
.nav_ITEM2:active {
	text-decoration: none;
	background: -moz-linear-gradient(top, #EEEEEF 67%, #CFCFD1 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(67%,#EEEEEF), color-stop(100%,#CFCFD1)); /* webkit */
	}
.nav_ITEM_current {
	background: url('/images/current.png') no-repeat 50% 1px;
	margin: 0px;
}
.nav_ITEM_current:hover {
	background: url('/images/current.png') no-repeat 50% 1px !important;
}

#content{
	float:left;
	width:920px;
	margin:0px;
	padding:10px;
}

#overview_map{
	float:left;
	width:420px;
	height:420px;
	margin:0px;
	padding:0px;
	border: 1px solid #BAB5B5;
	/* background: url('/images/map.jpg') no-repeat 0 0; */
}

#overview_data{
	float:left;
	width:486px;
	height:420px;
	margin:0px 0px 0px 10px;
	padding:0px;
	border: 1px solid #E2E0DF;
}

.overview_data_ITEM{
	float:left;
	width:486px;
	height:27px;
	margin: 0px;
	padding:0px;
	border-bottom:1px solid #E2E0DF;
}

.overview_data_ITEM_county{
	float:left;
	width:130px;
	line-height:27px;
	text-align:right;
	font-weight:bold;
}
.overview_data_ITEM_county a,
.overview_data_ITEM_county a:visited {
    color: #464646;
    text-decoration: none;
}
.overview_data_ITEM_county a:hover {
    text-decoration: underline;
}

.overview_data_ITEM_partyColor{
	float:left;
	width:40px;
}

.overview_data_ITEM_partyColorBox{
	float:left;
	width:15px;
	height:15px;
	margin:6px 0px 0px 12px;
	background-color:#cccccc;
}

.overview_data_ITEM_partyName{
	float:left;
	width:65px;
	line-height:27px;
	text-align:left;
	color:#cccccc;
}

.overview_data_ITEM_percent{
	float:left;
	width:50px;
	line-height:27px;
	text-align:left;
	font-weight:bold;
}

.overview_data_ITEM_candidate{
	float:left;
	width:199px;
	line-height:27px;
	text-align:left;
}

a.view_candidate, a.view_candidate:link,
a.view_candidate:visited, a.view_candidate:active {
    text-decoration: none !important;
    color: inherit !important;
}
a.view_candidate:hover {
    text-decoration: underline !important;
}

a.view_more, a.view_more:link,
a.view_more:visited, a.view_more:active {
    background: #bab5b5;
    border-bottom: 1px solid #888888;
    border-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomleft: 2px;
    -moz-border-radius-bottomright: 2px;
    color: #ffffff !important;
    font-size: 11px;
    padding: 2px 5px;
    text-decoration: none !important;
}
a.view_more:hover {
    background: #888888;
}

.chart_01 {
	float:left;
	width:918px;
	margin: 0px 0px 10px 0px;
	padding:0px;
	border: 1px solid #BAB5B5;
    font-size: 22px;
    text-align: center;
}
.chart_01_box{
    position: relative;
	float:left;
	width:188px;
	height:148px;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	border: 1px solid #E2E0DF;
	font-weight:bold;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
a .chart_01_box_title,
a:visited .chart_01_box_title,
a:hover .chart_01_box_title{
    color: #464646;
}
.chart_01_box_title{
    position: absolute;
    top: 6px;
    left: 8px;
}
.chart_01_title{
	float:left;
	width:708px;
	height:30px;
	margin: 0px;
	padding: 0px 0px 0px 20px;
	background: #DBDBDB;
	font-weight:bold;
	line-height: 30px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
}
.chart_01_title_01{
	float:left;
	width:15%;
}
.chart_01_title_02{
	float:left;
	width:30%;
}
.chart_01_title_03{
	float:left;
	width:15%;
}
.chart_01_title_04{
	float:left;
	width:30%;
}
.chart_01_title_05{
	float:left;
	width:10%;
	font-weight:normal;
}
.chart_01_row_01{
	float:left;
	width:708px;
	height:28px;
	margin: 0px;
	padding: 0px 0px 0px 20px;
	background: #fff;
	line-height: 30px;
	border-top: 1px solid #E2E0DF;
	border-bottom: 1px solid #E2E0DF;
}
.chart_01_row_01_01{
	float:left;
	width:15%;
}
.chart_01_row_01_02{
	float:left;
	width:8%;
	font-weight:bold;
}
.chart_01_row_01_03{
	float:left;
	width:22%;
}
.chart_01_row_01_04{
	float:left;
	width:15%;
}
.chart_01_row_01_05{
	float:left;
	width:30%;
}
.chart_01_row_02{
	float:left;
	width:708px;
	height:28px;
	margin: 0px;
	padding: 0px 0px 0px 20px;
	background: #F2F2F2;
	border-top: 1px solid #E2E0DF;
	border-bottom: 1px solid #E2E0DF;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
}
.chart_01_row_02_01{
	color:#8C8C8C !important;
	float:left;
	width:45%;
	color:#464646;
	line-height: 30px;
}
.chart_01_row_02_02{
	color:#8C8C8C !important;
	float:left;
	width:20%;
}
.chart_01_row_02_03{
	float:left;
	width:34%;
	color:#8C8C8C;
	line-height: 30px;
    text-align: right;
}
.chart_graph{
	float:left;
	width:100px;
	height:15px;
	margin: 6px 0px 0px 0px;
	padding: 0px;
	background: #F2F2F2;
	border: 1px solid #8D8D8D;
}

.chart_bar{
	float:left;
	height:15px;
	margin:0px;
	background-color:#DBDBDB;
}

.candidates_01 {
	float:left;
	width:920px;
	margin: 10px 0px 10px 0px;
	padding:0px 0px 0px 20px;
	font-weight:bold;
}

.candidates_02{
	float:left;
	width:430px;
	height:30px;
	margin: 0px 10px 10px 0px;
	padding: 0px 0px 0px 20px;
	background: #DBDBDB;
	font-weight:bold;
	line-height:30px;
}

.chart_02 {
	float:left;
	width:667px;
	margin: 0px 0px 10px 9px;
	padding:0px;
	border: 1px solid #BAB5B5;
}
.chart_02_box{
	float:left;
	width:240px;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	font-weight:bold;
    border: 1px solid #bab5b5;
    border-radius: 5px;
	-moz-border-radius: 5px;
}
.chart_02_title_01{
	float:left;
	width:647px;
	height:30px;
	margin: 0px;
	padding: 0px 0px 0px 20px;
	background: #DBDBDB;
	line-height: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    font-size: 15px;
    font-weight: bold;
}
.chart_02_title_02{
	float:left;
	width:645px;
	height:28px;
	margin: 0px;
	padding: 0px 0px 0px 20px;
	line-height: 30px;
	border: 1px solid #E2E0DF;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
}
.chart_02_row_01{
	float:left;
	width:647px;
	height:28px;
	margin: 0px;
	padding: 0px 0px 0px 20px;
	border: solid #E2E0DF;
    border-width: 1px 0;
	line-height: 30px;
}
.candidate_data_ITEM_partyColorBox{
	float:left;
	width:15px;
	height:15px;
	margin:7px 0px 0px 0px;
	background-color:#cccccc;
}

.candidate_data_ITEM_partyName{
	float:left;
	margin:0px 0px 0px 7px;
	line-height:30px;
	text-align:left;
	color:#cccccc;
}

.chart_02_row_01_01{
	float:left;
	width:65%;
	color:#464646;
	line-height: 40px;
}
.chart_02_row_01_02{
	float:left;
	width:35%;
}
.chart_02_row_02{
	float:left;
	width:647px;
	height:28px;
	margin: 0px;
	padding: 0px 0px 0px 20px;
	background: #F2F2F2;
	border-top: 1px solid #E2E0DF;
	border-bottom: 1px solid #E2E0DF;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}


.chart_03 {
	float:left;
	width:918px;
	margin: 10px 0 0;
	padding:0px;
	border: 1px solid #BAB5B5;
}
.chart_03_title_01{
	float:left;
	width:898px;
	height:40px;
	margin: 0px;
	padding: 0px 0px 0px 20px;
	background: #DBDBDB;
	line-height: 40px;
    font-size:15px;
}
.chart_03_row_01{
	float:left;
	width:878px;
	margin: 0px;
	padding: 20px;
	line-height: 20px;
}
.news_row_01{
	float:left;
	width:920px;
	margin: 10px 0px 0px 10px;
	padding:0px;
	background: url('/images/news_thumb_holder.jpg') no-repeat 0 0;
}

.news_pic{
	float:left;
	width:55px;
	height:55px;
	margin: 5px 0px 0px 5px;
	padding:0px;
	background: url('/images/news_thumb_00.jpg') no-repeat 0 0;
}

.news_bubble{
	float:left;
	width:643px;
	margin: 0px 0px 0px 15px;
	padding:0px;
	border: 1px solid #BAB5B5;
}
.news_text{
	float:left;
	width:603px;
	margin: 20px 20px 5px 20px;
}
.news_name{
	float:left;
	width:603px;
	margin: 0px 0px 15px 0px;
	padding:0px;
	text-align:right;
	font-weight:bold;
}
.news_date{
	float:left;
	width:160px;
	color:#464646;
	padding: 20px;
}

#footerMAIN{
	clear:both;
	width:100%;
	margin:0px auto 0;
	/*  min-height: 100%;  */
	background: #707070; /* old browsers */
}

#footer{
	clear:both;
	width:960px;
	height:100px;
	margin:0px auto 0;
	padding:20px 20px 20px 35px;
	overflow:auto;
}

#footer01{
	float:left;
	width:7%;
	margin:0px;
	padding:0px;
}
#footer02{
	float:left;
	width:78%;
	margin:10px 0px 0px 0px;
	padding:0px;
}
#footer03{
	float:left;
	width:15%;
	margin:10px 0px 0px 0px;
	padding:0px;
}

.btn,
.btn a:link,
.btn a:visited{
	display: inline-block;
	text-align:center;
	font-size:13px;
	font-weight:bold;
	text-shadow: 1px 1px 1px rgba(125,125,125,0.3);
	margin: 15px 0px 0px 0px;
	padding:8px 15px 8px 15px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius:5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	text-decoration: none;
	box-shadow: 0px 1px 5px #2D2D2D;
}

.btn:hover,
.btn:active {
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	cursor:pointer;
	box-shadow: 0px 1px 1px #2D2D2D;
}

.btn2,
.btn2 a:link,
.btn2 a:visited{
	display: inline-block;
	text-align:center;
	font-size:16px;
	font-weight:bold;
	text-shadow: 1px 1px 1px rgba(125,125,125,0.3);
	margin: 20px 0px 20px 0px;
	padding:7px 25px 7px 25px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius:5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	text-decoration: none;
	box-shadow: 0px 1px 10px #2D2D2D;
}

.btn2:hover,
.btn2:active {
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	cursor:pointer;
	box-shadow: 0px 1px 1px #2D2D2D;
}
