<div id="footerMAIN" class="gradient_darkgray">
    <div id="footer">
        <div id="footer01" class="white">&nbsp;</div>
        <div id="footer02" class="white">
            <a href="http://robertsirleaf.org">Home</a>  &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ url_for('overview') }}">Overview</a>  &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ url_for('counties') }}">Counties</a>  &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ url_for('districts') }}">Districts</a>  &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ url_for('candidates') }}">Candidates</a>  &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ url_for('news') }}">News Feed</a>  &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ url_for('data') }}">Download Data</a>
            <div id="footer03" class="white">Copyright 2014</div>
    </div>
</div>