<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
        <meta name="description" content="Liberian Senate Elecitions 2014" />
        <meta name="keywords" content="liberia,senate,election,2014" />
        <meta property="og:image" content="{{ url_for('static', filename='images/logo.jpg', _external=True) }}" />

		<title>{% block title %}{% endblock %}Liberia Senate Elections 2014 | Liberia Votes</title>

        <link rel="image_src" href="{{ url_for('static', filename='images/logo.png', _external=True) }}" />
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />

        {%  block styles %}
            <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
        {% endblock %}

        {%  block scripts %}
            <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.cycle.js') }}"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.powertip.js') }}"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
        {% endblock %}

	</head>
	<body>
		<div id="wrapperMAIN">
			{% include 'layout/header.html' %}

			<div id="contentBG">
				{% include 'layout/menu.html' %}
                {% block content %}
                    <div id="content"></div>
                {% endblock %}
			</div>
		</div>
		{% include 'layout/footer.html' %}
	</body>
</html>
