{% extends "layout/web.html" %}
{% block title %}{% endblock %}
{% block content %}
    <div id="content">
        <div class="chart_01 rounded text_e blue">
            &nbsp;&nbsp;
            <a href="#A">A</a>&nbsp;&nbsp;
            <a href="#B">B</a>&nbsp;&nbsp;
            <a href="#C">C</a>&nbsp;&nbsp;
            <a href="#D">D</a>&nbsp;&nbsp;
            <a href="#E">E</a>&nbsp;&nbsp;
            <a href="#F">F</a>&nbsp;&nbsp;
            <a href="#G">G</a>&nbsp;&nbsp;
            <a href="#H">H</a>&nbsp;&nbsp;
            <a href="#I">I</a>&nbsp;&nbsp;
            <a href="#J">J</a>&nbsp;&nbsp;
            <a href="#K">K</a>&nbsp;&nbsp;
            <a href="#L">L</a>&nbsp;&nbsp;
            <a href="#M">M</a>&nbsp;&nbsp;
            <a href="#N">N</a>&nbsp;&nbsp;
            <a href="#O">O</a>&nbsp;&nbsp;
            <a href="#P">P</a>&nbsp;&nbsp;
            <a href="#Q">Q</a>&nbsp;&nbsp;
            <a href="#R">R</a>&nbsp;&nbsp;
            <a href="#S">S</a>&nbsp;&nbsp;
            <a href="#T">T</a>&nbsp;&nbsp;
            <a href="#U">U</a>&nbsp;&nbsp;
            <a href="#V">V</a>&nbsp;&nbsp;
            <a href="#W">W</a>&nbsp;&nbsp;
            <a href="#X">X</a>&nbsp;&nbsp;
            <a href="#Y">Y</a>&nbsp;&nbsp;
            <a href="#Z">Z</a>&nbsp;&nbsp;
        </div>

        <div class="candidates_01 text_d gray">
            <a id="A">A</a>
        </div>
        <div class="candidates_02 rounded text_d gray">
            <a href="candidate.html">
                Mlen-Too Wesley
            </a>
        </div>
        <div class="candidates_02 rounded text_d gray">
            Charles Dorme Cooper
        </div>
        <div class="candidates_02 rounded text_d gray">
            Re-Al Myers
        </div>

        <div class="candidates_01 text_d gray">
            <a id="B">B</a>
        </div>
        <div class="candidates_02 rounded text_d gray">
            Mlen-Too Wesley
        </div>

    </div>
{% endblock %}