{% extends "layout/web.html" %}
{% block title %}Candidates - {% endblock %}
{% block content %}
    <div id="content">
        {% set candidates = election.candidates() %}
        {% if candidates.count() %}
            {% for c in candidates %}
            <div class="candidates_02 rounded text_d gray">
                <a href="{{ url_for('candidates', code=c.code.lower()) }}">
                    {{ c.name }}
                </a>
            </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}