<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="Author" content="" />
		<meta name="Description" content="" />
		<meta name="keywords" content="Robert Sirleaf">
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
		<title>Robert Sirleaf - Senate 2014</title>
		<link href="script/style.css" rel="stylesheet" type="text/css">
		<link href="script/styleSIRLEAF.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div id="wrapperMAIN">
			<script type="text/javascript" src="script/header.js"></script>
			
			<div id="contentBG">
				
				<script type="text/javascript" src="script/menu.js"></script>
				
				<div id="content">
					<div id="overview_map" class="rounded">
					


						
					
					</div>
					<div id="overview_data" class="rounded">
						<div class="overview_data_ITEM">
							<div class="text_a overview_data_ITEM_district">
								District 01
							</div>
							<div class="overview_data_ITEM_partyColor">
								<div class="overview_data_ITEM_partyColorBox" style="background-color:#008D45;"></div>
							</div>
							<div class="text_a overview_data_ITEM_partyName" style="color:#008D45;">
								UP
							</div>
							<div class="text_a overview_data_ITEM_percent">
								100%
							</div>
							<div class="text_a overview_data_ITEM_candidate">
								Wesley
							</div>
						</div>
						<div class="overview_data_ITEM">
							<div class="text_a overview_data_ITEM_district">
								District 02
							</div>
							<div class="overview_data_ITEM_partyColor">
								<div class="overview_data_ITEM_partyColorBox" style="background-color:#008D45;"></div>
							</div>
							<div class="text_a overview_data_ITEM_partyName" style="color:#008D45;">
								UP
							</div>
							<div class="text_a overview_data_ITEM_percent">
								100%
							</div>
							<div class="text_a overview_data_ITEM_candidate">
								Wesley
							</div>
						</div>
						<div class="overview_data_ITEM">
							<div class="text_a overview_data_ITEM_district">
								District 03
							</div>
							<div class="overview_data_ITEM_partyColor">
								<div class="overview_data_ITEM_partyColorBox" style="background-color:#008D45;"></div>
							</div>
							<div class="text_a overview_data_ITEM_partyName" style="color:#008D45;">
								UP
							</div>
							<div class="text_a overview_data_ITEM_percent">
								100%
							</div>
							<div class="text_a overview_data_ITEM_candidate">
								Wesley
							</div>
						</div>
						<div class="overview_data_ITEM">
							<div class="text_a overview_data_ITEM_district">
								District 04
							</div>
							<div class="overview_data_ITEM_partyColor">
								<div class="overview_data_ITEM_partyColorBox" style="background-color:#008D45;"></div>
							</div>
							<div class="text_a overview_data_ITEM_partyName" style="color:#008D45;">
								UP
							</div>
							<div class="text_a overview_data_ITEM_percent">
								100%
							</div>
							<div class="text_a overview_data_ITEM_candidate">
								Wesley
							</div>
						</div>
						<div class="overview_data_ITEM">
							<div class="text_a overview_data_ITEM_district">
								District 05
							</div>
							<div class="overview_data_ITEM_partyColor">
								<div class="overview_data_ITEM_partyColorBox" style="background-color:#008D45;"></div>
							</div>
							<div class="text_a overview_data_ITEM_partyName" style="color:#008D45;">
								UP
							</div>
							<div class="text_a overview_data_ITEM_percent">
								100%
							</div>
							<div class="text_a overview_data_ITEM_candidate">
								Wesley
							</div>
						</div>
						<div class="overview_data_ITEM">
							<div class="text_a overview_data_ITEM_district">
								District 06
							</div>
							<div class="overview_data_ITEM_partyColor">
								<div class="overview_data_ITEM_partyColorBox" style="background-color:#008D45;"></div>
							</div>
							<div class="text_a overview_data_ITEM_partyName" style="color:#008D45;">
								UP
							</div>
							<div class="text_a overview_data_ITEM_percent">
								100%
							</div>
							<div class="text_a overview_data_ITEM_candidate">
								Wesley
							</div>
						</div>
						<div class="overview_data_ITEM">
							<div class="text_a overview_data_ITEM_district">
								District 07
							</div>
							<div class="overview_data_ITEM_partyColor">
								<div class="overview_data_ITEM_partyColorBox" style="background-color:#008D45;"></div>
							</div>
							<div class="text_a overview_data_ITEM_partyName" style="color:#008D45;">
								UP
							</div>
							<div class="text_a overview_data_ITEM_percent">
								100%
							</div>
							<div class="text_a overview_data_ITEM_candidate">
								Wesley
							</div>
						</div>
						<div class="overview_data_ITEM">
							<div class="text_a overview_data_ITEM_district">
								District 08
							</div>
							<div class="overview_data_ITEM_partyColor">
								<div class="overview_data_ITEM_partyColorBox" style="background-color:#008D45;"></div>
							</div>
							<div class="text_a overview_data_ITEM_partyName" style="color:#008D45;">
								UP
							</div>
							<div class="text_a overview_data_ITEM_percent">
								100%
							</div>
							<div class="text_a overview_data_ITEM_candidate">
								Wesley
							</div>
						</div>
						<div class="overview_data_ITEM">
							<div class="text_a overview_data_ITEM_district">
								District 09
							</div>
							<div class="overview_data_ITEM_partyColor">
								<div class="overview_data_ITEM_partyColorBox" style="background-color:#008D45;"></div>
							</div>
							<div class="text_a overview_data_ITEM_partyName" style="color:#008D45;">
								UP
							</div>
							<div class="text_a overview_data_ITEM_percent">
								100%
							</div>
							<div class="text_a overview_data_ITEM_candidate">
								Wesley
							</div>
						</div>
						<div class="overview_data_ITEM">
							<div class="text_a overview_data_ITEM_district">
								District 10
							</div>
							<div class="overview_data_ITEM_partyColor">
								<div class="overview_data_ITEM_partyColorBox" style="background-color:#008D45;"></div>
							</div>
							<div class="text_a overview_data_ITEM_partyName" style="color:#008D45;">
								UP
							</div>
							<div class="text_a overview_data_ITEM_percent">
								100%
							</div>
							<div class="text_a overview_data_ITEM_candidate">
								Wesley
							</div>
						</div>
						<div class="overview_data_ITEM">
							<div class="text_a overview_data_ITEM_district">
								District 11
							</div>
							<div class="overview_data_ITEM_partyColor">
								<div class="overview_data_ITEM_partyColorBox" style="background-color:#008D45;"></div>
							</div>
							<div class="text_a overview_data_ITEM_partyName" style="color:#008D45;">
								UP
							</div>
							<div class="text_a overview_data_ITEM_percent">
								100%
							</div>
							<div class="text_a overview_data_ITEM_candidate">
								Wesley
							</div>
						</div>
						<div class="overview_data_ITEM">
							<div class="text_a overview_data_ITEM_district">
								District 12
							</div>
							<div class="overview_data_ITEM_partyColor">
								<div class="overview_data_ITEM_partyColorBox" style="background-color:#008D45;"></div>
							</div>
							<div class="text_a overview_data_ITEM_partyName" style="color:#008D45;">
								UP
							</div>
							<div class="text_a overview_data_ITEM_percent">
								100%
							</div>
							<div class="text_a overview_data_ITEM_candidate">
								Wesley
							</div>
						</div>
						<div class="overview_data_ITEM">
							<div class="text_a overview_data_ITEM_district">
								District 13
							</div>
							<div class="overview_data_ITEM_partyColor">
								<div class="overview_data_ITEM_partyColorBox" style="background-color:#008D45;"></div>
							</div>
							<div class="text_a overview_data_ITEM_partyName" style="color:#008D45;">
								UP
							</div>
							<div class="text_a overview_data_ITEM_percent">
								100%
							</div>
							<div class="text_a overview_data_ITEM_candidate">
								Wesley
							</div>
						</div>
						<div class="overview_data_ITEM">
							<div class="text_a overview_data_ITEM_district">
								District 14
							</div>
							<div class="overview_data_ITEM_partyColor">
								<div class="overview_data_ITEM_partyColorBox" style="background-color:#008D45;"></div>
							</div>
							<div class="text_a overview_data_ITEM_partyName" style="color:#008D45;">
								UP
							</div>
							<div class="text_a overview_data_ITEM_percent">
								100%
							</div>
							<div class="text_a overview_data_ITEM_candidate">
								Wesley
							</div>
						</div>
						<div class="overview_data_ITEM">
							<div class="text_a overview_data_ITEM_district">
								District 15
							</div>
							<div class="overview_data_ITEM_partyColor">
								<div class="overview_data_ITEM_partyColorBox" style="background-color:#008D45;"></div>
							</div>
							<div class="text_a overview_data_ITEM_partyName" style="color:#008D45;">
								UP
							</div>
							<div class="text_a overview_data_ITEM_percent">
								100%
							</div>
							<div class="text_a overview_data_ITEM_candidate">
								Wesley
							</div>
						</div>
						<div class="overview_data_ITEM">
							<div class="text_a overview_data_ITEM_district">
								District 16
							</div>
							<div class="overview_data_ITEM_partyColor">
								<div class="overview_data_ITEM_partyColorBox" style="background-color:#008D45;"></div>
							</div>
							<div class="text_a overview_data_ITEM_partyName" style="color:#008D45;">
								UP
							</div>
							<div class="text_a overview_data_ITEM_percent">
								100%
							</div>
							<div class="text_a overview_data_ITEM_candidate">
								Wesley
							</div>
						</div>
						<div class="overview_data_ITEM">
							<div class="text_a overview_data_ITEM_district">
								District 17
							</div>
							<div class="overview_data_ITEM_partyColor">
								<div class="overview_data_ITEM_partyColorBox" style="background-color:#008D45;"></div>
							</div>
							<div class="text_a overview_data_ITEM_partyName" style="color:#008D45;">
								UP
							</div>
							<div class="text_a overview_data_ITEM_percent">
								100%
							</div>
							<div class="text_a overview_data_ITEM_candidate">
								Wesley
							</div>
						</div>
					</div>
				</div>
			</div>				
		</div>
		<script type="text/javascript" src="script/footer.js"></script>
	</body>
</html>