{% extends "layout/web.html" %}
{% block title %}News - {% endblock %}
{% block content %}
    <div id="content">
    {% for n in news %}
        <div class="news_row_01">
            <div class="news_pic">
                <img src="{{ url_for('static', filename=(n.reporter.photo.path or 'images/news_thumb_00.jpg')) }}">
            </div>
            <div class="news_bubble rounded">
                <div class="news_text text_d">
                    "{{ n.text }}"
                </div>
                <div class="news_name text_d">
                    ~ {{ n.reporter.name }}
                </div>
            </div>
            <div class="news_date">
                {{ n.timestamp.strftime('%d %b %Y %H:%M %p') }}
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}